<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/main.css">
  <title>Acebook</title>
</head>
<body>
<div class="container" align="center" style="padding:100px; background-color:#e9005c">
  <div class="row">
    <div class="col">
    </div>
    <div class="col" align="center">
    <img src="https://user-images.githubusercontent.com/16557524/59921834-e4372c80-9426-11e9-8402-60b0a221c52d.png" width="200" valign="center" alt="">
    <h1>ace<span style="color:#ffffff">book</span></h1>
    <script type="text/javascript" src="flash/flash-client.js"></script>
    {{{body}}}
    {{index.html}}
    {{posts.html}}
    {{!-- {{listposts.html}} --}}
    </div>
    <div class="col">
    </div>
  </div>
  </div>
</body>
</html>
