<!-- Successfully Signed up - This needs an if statement -->
<div class="container" align="center">
    <p style="text-align: left;">New Post:</p>
    <form action="/listposts" method="POST">
      <div class="form-group row" style="font-size:15px">Name:&nbsp;<input type="text" name="name"></div>
      <div class="form-group row" style="font-size:15px">Title:&nbsp;<input type="text" name="title"></div>
      <div class="form-group row" style="font-size:15px">Posts:&nbsp;<input type="text" name="message"></div>
      <div class="form-group row" style="font-size:15px"><input type="submit" value="Post my post"></div>
    </form>
  </div>

  <h2>Your Posts:</h2>
  <div>{{listposts.html}}</div>
  {{#each message}}
  <div>{{message}}</div>
  {{/each}}
 
