<!-- Successfully Signed up - This needs an if statement -->

<div class="container" align="center" style="text-align: left">
    <h3 style="text-align: center">Post something:</h3>
    <form action="/posts" method="POST">
      <div class="form-group">
          <label for="exampleFormControlInput1" style="text-align: left;">Title</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" name="title">
      </div>
      <div class="form-group">
          <label for="exampleFormControlInput1" style="text-align: left;">Post</label>
          <textarea class="form-control" aria-label="With textarea" name="message" style="white-space: pre-wrap;"></textarea>  
      </div>
      <!-- <div class="form-group row" style="font-size:15px">Name:&nbsp;<input type="text" name="name"></div>
      <div class="form-group row" style="font-size:15px">Title:&nbsp;<input type="text" name="title"></div>
      <div class="input-group input-group-lg">
          <div class="form-group row" style="font-size:15px">
          Posts:&nbsp;<textarea class="form-control" aria-label="With textarea" name="message"></textarea>
          </div>
      </div> -->
      <button type="submit" class="btn btn-primary" value="Post my post">Post my post</button>
    </form>
  </div>
<br>
  <h3>Your Posts:</h3>
  <div class="container" style="padding: 20px">
  
  {{#each results}}
  <div class="container" style="padding: 20px">
    <div class="card" style="width: 28rem;">
        <div class="card-body">
          <h5 class="card-title" style="text-align: left;">{{this.title}}</h5>
          <!-- <h6 class="card-subtitle mb-2 text-muted">by: {{this.user.users.name}}</h6> -->
          <p class="card-text" style="text-align: left; white-space: pre-wrap;">{{this.message}}</p>
          <p style="text-align: left;"><a href="#" class="card-link" style="text-align: left;">{{this.time_posted}}</a></p>
          <p>
            <a href="/posty/{{this.id}}" class="btn btn-outline-info" >Edit&nbsp;✏️</a>&nbsp;&nbsp;
            <a href="/delete/{{this.id}}" class="btn btn-outline-danger">Delete&nbsp;❌</a>&nbsp;&nbsp;
            <a href="/like/{{this.id}}" class="btn btn-outline-success">Like&nbsp;👍 </a>&nbsp;
            {{#if likes}}<a class="btn btn-outline-warning"><span>{{likes}}</span></a>{{/if}}
          </p>
        </div>
      </div>
    </div>
  {{/each}}
</div>
 
